@page 
@model ProdottiModel

@{
    ViewData["Title"] = "Prodotti";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Prezzo</th>
            <th>Categoria</th>
             <th>Azioni</th>          
        </tr>
    </thead>
    <tbody>
        @foreach (var prodotto in Model.Prodotti)
        {
            <tr>
                <td>@prodotto.Id</td>
                <td>@prodotto.Nome</td>
                <td>@prodotto.Prezzo</td>
                <td>@prodotto.CategoriaNome</td>
                <td>
                     <a asp-page="Dettagli" class="btn btn-dark" asp-route-id="@prodotto.Id">Dettagli</a>
                     <a asp-page="Edit" class="btn btn-warning" asp-route-id="@prodotto.Id">Edit</a>
                     <a asp-page="Delete" class="btn btn-danger" asp-route-id="@prodotto.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
